<div class="status-block">
  <span class="status-span">
    All Systems Operational
  </span>
</div>
<table class="status-table" border="1">
  <tr>
    <td>
      <span>Alumno Api </span>
      <fa-icon [icon]="faCheck" class="faCheck"></fa-icon>
    </td>
    <td>
      <span>Academico Api </span>
      <fa-icon [icon]="faCheck" class="faCheck"></fa-icon>
    </td>
  </tr>
  <tr>
    <td>
      <span>Curricula Api </span>
      <fa-icon [icon]="faCheck" class="faCheck"></fa-icon>
    </td>
    <td>
      <span>Finance Api </span>
      <fa-icon [icon]="faCheck" class="faCheck"></fa-icon>
    </td>
  </tr>
</table>
<br/>
<app-recipes-component></app-recipes-component>