/* You can add global styles to this file, and also import other style files */
body {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
table{
    border-collapse: collapse;
    border-color: #657786;
    box-sizing: border-box;
}
